.container {
    position: relative;
    background-color: rgb(231, 231, 231);
    box-shadow: 2px 2px 10px 2px rgb(0, 0, 0);
    width: 90%;
    height: fit-content;
    padding: 20px 20px 10px 20px;
    row-gap: 10px;
    transition: all 0.25s;
}

.border-left{
    border-left: solid #d3d3d3 1px;
}


.form-control {
    display: block;
    width: 100%;
    height: fit-content;
    padding: 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.25);
}

